@define-color base   #1e1e2e;
@define-color mantle #181825;
@define-color crust  #11111b;

@define-color text     #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;

@define-color blue      #89b4fa;
@define-color lavender  #b4befe;
@define-color sapphire  #74c7ec;
@define-color sky       #89dceb;
@define-color teal      #94e2d5;
@define-color green     #a6e3a1;
@define-color yellow    #f9e2af;
@define-color peach     #fab387;
@define-color maroon    #eba0ac;
@define-color red       #f38ba8;
@define-color mauve     #cba6f7;
@define-color pink      #f5c2e7;
@define-color flamingo  #f2cdcd;
@define-color rosewater #f5e0dc;

* {
  font-family: Hack Nerd Font;
  font-size: 17px;
  min-height: 0;
  transition: background-color 0.25s ease;
}

#waybar {
  /* background: transparent; */
  background: @base;
  color: @text;
  margin: 5px 5px;
}

#cava,
#disk,
#tray,
#clock,
#language,
#battery,
#cpu,
#temperature,
#memory,
#pulseaudio {
  background-color: @surface0;
  border-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

tooltip {
  background: @surface0;
  border-radius: .7rem;
  padding: .5rem 1rem;
  color: @text;
  border: 2px solid alpha(@overlay0, 0.4);
}

/* ======================================== */


#cava {
  background-color: @surface0;
  border-radius: 1rem;
  margin: 5px;
  padding: 0.5rem 1rem;
}

#disk {
  margin-left: 1rem;
  border-radius: 1rem 0px 0px 1rem;
}

#temperature {
  border-radius: 0px 1rem 1rem 0px;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

/* vvvvvvvvvvvvvvvvvvvv Middle vvvvvvvvvvvvvvvvvvvv */

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
}

#workspaces button {
  color: @surface1;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active,
#workspaces button.focused {
  color: @blue;
  background: @surface2;
}

#workspaces button.active {
  color: @text;
  background: radial-gradient(circle, 
    @surface1 40%,
    @surface0 60%
  );
}

#workspaces button.empty {
  color: @base;
}

#workspaces button:hover {
  color: @surface2;
}

/* ^^^^^^^^^^^^^^^^^^^^ Middle ^^^^^^^^^^^^^^^^^^^^ */

#pulseaudio {
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#pulseaudio.muted {
  color: mix(@surface0, @overlay0, 0.5);
}

#language {
  border-radius: 0;
}

#clock {
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}
